//colors
$white: #ffffff;
$black: #3A364C;
$pink: #FFD0D6;
$rich-pink: #FFA3B0;
$light-pink: #FDEAE1;
$pink-for-card: #FE78B3;
//special-color
$input-hover-border: #E7E7E7;
//width
$fixed-width: 1920px;
$mobile-width: 326px;
